# The Red Reactor
#
# RR_Driver systemd service unit file
#
# Assumes redreactor kernel is loaded at boot time for access
# to the /dev/redreactor device driver file
# Start-up error will exit and retry once
# RR_Driver records battery events to dmesg

[Unit]
Description=RR_Driver Service
#
# Restart if service fails but terminate retries if start-up error
StartLimitIntervalSec=30
StartLimitBurst=1

[Service]
# Install script replaces tilde to folder path containing executable
WorkingDirectory=~/RedReactor/RR_Ubuntu/RR_Driver/build

# Install script replaces tilde to folder path containing executable
ExecStart=~/RedReactor/RR_Ubuntu/RR_Driver/build/RR_Driver

# Restart on failure after 5 seconds
Restart=on-failure
RestartSec=5

[Install]
# Start early in boot process
# multi-user.target
# basic.target
# network.target
# After=sysinit.target
WantedBy=basic.target
